circle
{
	stroke: yellow;
	fill: red;
    stroke-width: 5;
}

text#title
{
	font-family: verdana, sans-serif;
	font-size: 270%;
	fill: black;
}

svg#page
{
	stroke-width: 1px; 
	background-color:none; 
	stroke:black; 
	fill:navajowhite
}  


