

<svg:g (click)="doClick()">
  <svg:rect id="shape" x="0" y="0" [attr.height]="viewModel.height" [attr.width]="viewModel.width" >
  </svg:rect>
  <svg:text id="display" x="20" [attr.y]="viewModel.height/3" > {{ viewModel['name'] }}</svg:text>

<svg:rect id="select" *ngIf="viewModel.isSelected"  [attr.height]="viewModel.height" [attr.width]="viewModel.width" >
        <!--<animateTransform
            attributeName="transform"
            begin="0s"
            dur="20s"
            type="rotate"
            from="0 60 60"
            to="360 60 60"
            repeatCount="indefinite"
        />-->
        </svg:rect>

</svg:g>
