<h3>
  {{title}}
</h3>

<div class="navbar navbar-inverse " role="navigation">
  <div class="container-fluid">
    <a class='navbar-brand' [routerLink]="['/welcome']">Welcome</a>
    <div class="nav navbar-nav navbar-right ">

      <a class="nav navbar-brand " [routerLink]="[ '/tree'] ">Tree</a>
      <a class="nav navbar-brand " [routerLink]="[ '/list'] ">List</a>
      <a class="nav navbar-brand " [routerLink]="[ '/network'] ">Network</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>