<div class="row">

  <div class="col-xs-12 col-12">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

      <h4 style="margin-left:30px">{{rootWorkspace.myName}}</h4>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-md-6">
    <tabset type="pills">
      <tab heading='Concepts'>
        <fo-concept></fo-concept>
      </tab>
      <tab heading='Debug'>
        <fo-events></fo-events>
      </tab>

    </tabset>
  </div>

  <div class="col-md-6">
    <tabset type="pills">
      <tab heading='Model'>
        <fo-model></fo-model>
      </tab>
    </tabset>
  </div>
</div>
