<div class="row">

  <div class="col-xs-12 col-12">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

      <h4 style="margin-left:30px">{{workspace.myName}}</h4>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-md-5">
    <tabset type="pills">
      <tab heading='Concepts'>
        <fo-concept></fo-concept>
      </tab>
      <tab heading='Debug'>
        <fo-events></fo-events>
      </tab>

    </tabset>
  </div>

  <div class="col-md-7">
    <tabset type="pills">
      <tab heading='Model'>
        <fo-model></fo-model>
      </tab>
      <tab heading='Drawing'>
        <fo-drawing></fo-drawing>
      </tab>
      <tab heading='Studio'>
        <fo-studio></fo-studio>
      </tab>
    </tabset>
  </div>
</div>
