<tabset type="pills">
  <tab heading='Debug'>
    <pre class="well">{{stage.mouseLoc | json}}</pre>

    <fo-events></fo-events>
    <!-- <pre class="well">{{stage.message | json}}</pre> -->

    <!-- <pre class="well">{{sitOnShape | json}}</pre> -->

    <!-- <pre class="well">{{_dictionary | json}}</pre> -->
    <!-- <pre class="well">{{Subcomponents | json}}</pre> -->
  </tab>

  <tab heading='Page'>
    <fo-page [page]="stage"></fo-page>
  </tab>
  <tab heading='Model'>
    <fo-model></fo-model>
  </tab>
  <tab heading='Stencil'>
    <fo-stencil></fo-stencil>
  </tab>
  <tab heading='Commands'>
    <fo-command [stage]="stage"></fo-command>
  </tab>
</tabset>