<p>
  <a href="http://curran.github.io/HTML5Examples/">Canvas Example </a>
  <a href="http://www.typescriptgames.com/HTML5CanvasBasics.html">Canvas TypeScript Example </a>
  <a href="https://medium.com/@tarik.nzl/creating-a-canvas-component-with-free-hand-drawing-with-rxjs-and-angular-61279f577415">Canvas with RX </a>
  <a href="https://www.w3schools.com/tags/ref_canvas.asp">Canvas ref </a>

  <a href="https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/translate">Transforms </a>
  
</p>
<div class="row">
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <button (click)="doAddShape()" type="button" class="btn btn-secondary">add</button>
      <button type="button" class="btn btn-secondary">delete</button>
      <button type="button" class="btn btn-secondary">undo</button>
      <button type="button" class="btn btn-secondary">duplicate</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Second group">
      <button (click)="doAddHouse()" type="button" class="btn btn-secondary">add House</button>
      <button type="button" class="btn btn-secondary">6</button>
      <button type="button" class="btn btn-secondary">7</button>
    </div>
    <div class="btn-group" role="group" aria-label="Third group">
      <button type="button" class="btn btn-secondary">8</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <canvas #canvas></canvas>
  </div>

  <div class="col-md-4">
    <!-- <pre class="well">{{mouseLoc | json}}</pre>
    <pre class="well">{{sitOnShape | json}}</pre>
    
    <pre class="well">{{dictionary | json}}</pre> -->
  </div>

</div>
