polyline
{
	stroke: 0;
	stroke-linejoin: butt;
	fill: #003565;
}


polyline.orange
{
	fill: #ff6400;
}

text#display
{
	font-family: verdana, sans-serif;
	font-size: 120%;
	fill: #003565;
}


rect#shape
{
	stroke:#000;
	fill: yellow;
}

rect#select
{
	stroke-width: 4px;  
	stroke:red;
	fill: none
}