<tabset type="pills">
  <tab heading='Live'>
    <pre class="well">{{stage.mouseLoc | json}}</pre>

    <div *ngFor="let event of lifecycleEvent" >
      <div>{{event.id}} - {{event.cmd}}  {{event.guid}} : {{event.value}}</div>
    </div>
    <!-- <pre class="well">{{stage.message | json}}</pre> -->

    <!-- <pre class="well">{{sitOnShape | json}}</pre> -->

    <!-- <pre class="well">{{_dictionary | json}}</pre> -->
    <!-- <pre class="well">{{Subcomponents | json}}</pre> -->
  </tab>
  <tab heading='Runtime' (select)="doRefreshRuntimeTypes()">
    <fo-runtime ></fo-runtime>
  </tab>
  <tab heading='Page'>
    <fo-drawing [rootPage]="rootPage"></fo-drawing>
  </tab>
  <tab heading='Model'>
    <fo-model></fo-model>
  </tab>
  <tab heading='Stencil' (select)="doRefreshStencil()">
    <fo-stencil [rootPage]="rootPage"></fo-stencil>
  </tab>
  <tab heading='Concepts' (select)="doRefreshConcepts()">
    <fo-concept [rootPage]="rootPage"></fo-concept>
  </tab>
  <tab heading='Commands'>
    <fo-command [stage]="stage"></fo-command>  
  </tab>
</tabset>