<div class="panel panel-default">
  <div class="panel-body">
    <div (click)="doToggleDetails()" class="panel-body">{{stencilItem.displayName}}</div>


    <button (click)="doCreate()" type="button" class="btn btn-info">{{stencilItem.myName}}</button>

    <ng-container *ngFor="let cmd of stencilItem.commands; let i = index; let isOdd = odd">
      <button (click)="doCommand(cmd)" type="button" class="btn btn-success">{{cmd}}</button>
    </ng-container>
    <pre *ngIf="showDetails" class="well">{{stencilItem.asJson | json }}</pre>
  </div>

</div>