/* You can add global styles to this file, and also import other style files */

    .links-style line {
      stroke: grey;
      stroke-opacity: 0.6;
    }
    
    .nodes-style circle {
      stroke: #fff;
      stroke-width: 1.5px;
    }